<div class="selection-tab" *ngIf="!imgSelected">
    <div class="container">
        <div class="row pt-3">
            <div class="col-12 text-center">
                <h2 class="mt-4">કૌશિકભાઈ વેકરીયા</h2>
                <p>ઉમેદવાર વિધાનસભા, અમરેલી - ૯૫</p>
                <p><b>ભારતીય જનતા પાર્ટી</b></p>
            </div>
            <div class="col-12 mt-4">
                <h3>ફેસબુક પોસ્ટ ડાઉનલોડ કરો <small class="d-flex" style="font-size: 70%; line-height: 1;">(તમારાં નામ અને ફોટો સાથે)</small></h3>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <img src="assets/img/main/FB/6.jpg" class="w-100 img-thumbnail" alt="" (click)="selectImg('assets/img/main/FB/6.jpg','facebook',4)" />
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <img src="assets/img/main/FB/9.jpg" class="w-100 img-thumbnail" alt="" (click)="selectImg('assets/img/main/FB/9.jpg','facebook',5)" />
                <p class="mt-2">મારો મત નહી જાય એળે એ જ વિશ્વાસ થી કૌશિક વેકરીયા ને ફાળે</p>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <img src="assets/img/main/FB/4t.png" class="w-100 img-thumbnail" alt="" (click)="selectImg('assets/img/main/FB/4.png','facebook',4)" />
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <img src="assets/img/main/FB/5t.png" class="w-100 img-thumbnail" alt="" (click)="selectImg('assets/img/main/FB/5.png','facebook',4)" />
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <img src="assets/img/main/FB/100-t.png" class="w-100 img-thumbnail" alt="" (click)="selectImg('assets/img/main/FB/100.png','facebook',100)" />
            </div>
            <!-- <div class="col-md-3 col-sm-4 col-6 mb-3">
                <img src="assets/img/main/FB/1.png" class="w-100 img-thumbnail" alt="" (click)="selectImg('assets/img/main/FB/1.png','facebook',0)" />
            </div> -->
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <img src="assets/img/main/FB/2.png" class="w-100 img-thumbnail" alt="" (click)="selectImg('assets/img/main/FB/2.png','facebook',0)" />
            </div>
            <div class="col-12 mt-4">
                <h3>સ્ટોરી અને સ્ટેટસ ડાઉનલોડ કરો<small class="d-flex" style="font-size: 70%; line-height: 1;">(તમારાં નામ અને ફોટો સાથે)</small></h3>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <img src="assets/img/main/KKV-01.png" class="w-100 img-thumbnail" alt="" (click)="selectImg('assets/img/main/KKV-01.png','story',1)" />
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <img src="assets/img/main/KKV-02.png" class="w-100 img-thumbnail" alt="" (click)="selectImg('assets/img/main/KKV-02.png','story',1)" />
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <img src="assets/img/main/KKV-03.png" class="w-100 img-thumbnail" alt="" (click)="selectImg('assets/img/main/KKV-03.png','story',1)" />
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <img src="assets/img/main/KKV-04.png" class="w-100 img-thumbnail" alt="" (click)="selectImg('assets/img/main/KKV-04.png','story',1)" />
            </div>

            <div class="col-12 mt-4">
                <h3>પ્રોફાઈલ ફોટો ડાઉનલોડ કરો</h3>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <a href="assets/img/main/DP/5.jpg" download="Kaushik Vekariya - 05" target="_blank"><img src="assets/img/main/DP/5.jpg" class="w-100 img-thumbnail" alt="" /></a>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <a href="assets/img/main/DP/4.jpg" download="Kaushik Vekariya - 04" target="_blank"><img src="assets/img/main/DP/4.jpg" class="w-100 img-thumbnail" alt="" /></a>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <a href="assets/img/main/DP/1.jpg" download="Kaushik Vekariya - 01" target="_blank"><img src="assets/img/main/DP/1.jpg" class="w-100 img-thumbnail" alt="" /></a>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <a href="assets/img/main/DP/2.jpg" download="Kaushik Vekariya - 02" target="_blank"><img src="assets/img/main/DP/2.jpg" class="w-100 img-thumbnail" alt="" /></a>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
                <a href="assets/img/main/DP/1.jpg" download="Kaushik Vekariya - 03" target="_blank"><img src="assets/img/main/DP/3.jpg" class="w-100 img-thumbnail" alt="" /></a>
            </div>
            <div class="col-12">
                <div class="mt-auto pt-2 pb-2 text-center">
                    <a href="https://fb.com/SOJITRAHIREN" target="_blank">created by <b>Hiren Sojitra</b></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <input type="file" (change)="onFileSelected($event)">
<button type="button" (click)="uploadFile()" class="btn btn-primary">Upload</button> -->
<div class="print-area" id="print-area" *ngIf="imgSelected && cropedImg && formGroup.valid" [ngClass]="posterType.type" [ngStyle]="{'background-image': 'url(' + imgSelected + ')'}">
    <!-- Story Style - 1 -->
    <div class="content-box style-0" *ngIf="posterType.style==0">
        <div class="text-box">
            <p class="name">{{formGroup.controls['name'].value}}</p>
            <p class="place">{{(vill[formGroup.controls['taluka'].value+0][formGroup.controls['village'].value+0].viewValue)}}, <small>{{(!formGroup.controls['taluka'].value)?'અમરેલી':'કુંકાવાવ'}}</small><span>વિધાનસભા સીટ, અમરેલી-કુંકાવાવ-વડિયા</span></p>
        </div>
        <img [src]="cropedImg" class="thumb-img">
    </div>
    <div class="content-box style-0" *ngIf="posterType.style==1">
        <img [src]="cropedImg" class="thumb-img">
        <div class="text-box">
            <p class="name">{{formGroup.controls['name'].value}}</p>
            <p class="place">{{(vill[formGroup.controls['taluka'].value+0][formGroup.controls['village'].value+0].viewValue)}}, <small>{{(!formGroup.controls['taluka'].value)?'અમરેલી':'કુંકાવાવ'}}</small><span>વિધાનસભા સીટ, અમરેલી-કુંકાવાવ-વડિયા</span></p>
        </div>
    </div>
    <div class="content-box style-4" *ngIf="posterType.style==4">
        <img [src]="cropedImg" class="thumb-img">
        <div class="text-box">
            <p class="name">{{formGroup.controls['name'].value}}</p>
            <p class="place">{{(vill[formGroup.controls['taluka'].value+0][formGroup.controls['village'].value+0].viewValue)}}, <small>{{(!formGroup.controls['taluka'].value)?'અમરેલી':'કુંકાવાવ'}}</small></p>
        </div>
    </div>
    <div class="content-box style-5" *ngIf="posterType.style==5">
        <img [src]="cropedImg" class="thumb-img">
        <div class="text-box">
            <p class="name">{{formGroup.controls['name'].value}}</p>
            <p class="place">{{(vill[formGroup.controls['taluka'].value+0][formGroup.controls['village'].value+0].viewValue)}}, <small>{{(!formGroup.controls['taluka'].value)?'અમરેલી':'કુંકાવાવ'}}</small></p>
        </div>
    </div>
    <div class="content-box container style-100" *ngIf="posterType.style==100">
        <div class="top">
            <div class="row h-100">
                <div class="col-7 align-items-center d-flex">
                    <div class="msg">
                        <p><span class="village">{{(vill[formGroup.controls['taluka'].value+0][formGroup.controls['village'].value+0].viewValue)}}</span> માં લોકહિત ના તમામ કાર્યોમાં <span class="kaushik">કૌશિકભાઈ વેકરીયા</span> પાસે થી માત્ર માર્ગદર્શન
                            નહિ પણ પૂરે પૂરી મદદ પણ મળી છે અને મળતી રહેશે એવો મને ભરોસો છે. આ વાત નો સાક્ષી છું એમ માત્ર હું <span class="name">{{formGroup.controls['name'].value}}</span> જ નહિ પણ મારું આખું ગામ <span class="village">{{(vill[formGroup.controls['taluka'].value+0][formGroup.controls['village'].value+0].viewValue)}}</span>                            બોલે છે, <span class="kaushik">કૌશિકભાઈ</span> નું માત્ર નામ નહિ કામ પણ બોલે છે.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="row h-100">
                <div class="col-7 text-center">
                    <img [src]="cropedImg" class="thumb-img">
                    <div class="intro">
                        <div class="intro-box">
                            <p class="name">{{formGroup.controls['name'].value}}</p>
                            <p class="place">{{(vill[formGroup.controls['taluka'].value+0][formGroup.controls['village'].value+0].viewValue)}}, <small>{{(!formGroup.controls['taluka'].value)?'અમરેલી':'કુંકાવાવ'}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facebook Style - 1 -->
    <!-- <div class="d-flex mt-auto align-items-center w-100 style-1" *ngIf="posterType.style==1">
        <img [src]="cropedImg" class="thumb-img" style="width: 250px;
        padding: 10px;
        margin: 80px;outline:10px solid #FFF; background: #333;">
        <div class="flex-grow-1 text-end" style="background: #333;
        padding: 1rem 2rem 1rem 0;
        color: #FFF;">
            <p style="font-size: 30px;
            color: #FFF">{{formGroup.controls['name'].value}}</p>
            <p style="font-size: 20px; color: #DDD">{{(vill[formGroup.controls['taluka'].value+0][formGroup.controls['village'].value+0].viewValue)}}, <small>{{(!formGroup.controls['taluka'].value)?'અમરેલી':'કુંકાવાવ'}}</small><span style="font-size: 22px;
              display: block;">વિધાનસભા સીટ, અમરેલી-કુંકાવાવ-વડિયા</span></p>
        </div>
    </div> -->

</div>
<div class="d-flex flex-column data-tab align-items-center justify-content-center" *ngIf="imgSelected">
    <div class="mt-auto" style="width: 320px;">
        <div class="d-flex justify-content-center mb-4">
            <img [src]="
          cropedImg
            ? cropedImg
            : 'https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg'
        " class="rounded-circle thumb-img" alt="example placeholder" style="width: 300px;" />
        </div>
        <div class="d-flex flex-column justify-content-center">
            <div class="btn btn-primary btn-rounded">
                <label class="form-label text-white m-1" (click)="openDialog()">{{ cropedImg ? 'તમારો ફોટો બદલાવો' : 'તમારો ફોટો અપલોડ કરો' }}</label>
            </div>

            <div class="container" novalidate>
                <form [formGroup]="formGroup" class="d-flex flex-column mt-3">
                    <mat-form-field class="form-element">
                        <input matInput placeholder="તમારું નામ અહી લખો" formControlName="name">
                    </mat-form-field>
                    <mat-form-field class="form-element">
                        <mat-label>તાલુકો</mat-label>
                        <mat-select formControlName="taluka">
                            <mat-option [value]="0">અમરેલી</mat-option>
                            <mat-option [value]="1">કુકાવાવ</mat-option>
                        </mat-select>

                    </mat-form-field>
                    <mat-form-field class="form-element">
                        <mat-label>ગામ નું નામ</mat-label>

                        <mat-select formControlName="village">
                            <mat-option *ngFor="let village of vill[formGroup.controls['taluka'].value+0]; let i = index" [value]="i">
                                {{village.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <a (click)="generateImage();" class="btn btn-secondary btn-rounded mt-3" [ngClass]="{'disabled':!formGroup.valid || !cropedImg}" title="{{formGroup.controls['name'].value}}" download>સબમિટ કરો</a>
            <a id="print-area-link" class="btn btn-warning btn-rounded mt-3" target="_blank" [ngClass]="{'disabled':!formGroup.valid || !cropedImg || !downLoadLink}" title="{{formGroup.controls['name'].value}}" download>ડાઉનલોડ કરો</a>
            <button (click)="reset()" class="btn btn-info btn-rounded mt-3">રીસેટ કરો</button>
        </div>
    </div>

    <div class="mt-auto pt-2 p4-2 mb-4 text-center">
        <a href="https://fb.com/SOJITRAHIREN" target="_blank" class="btn btn-secondary">created by <b>Hiren Sojitra</b></a>
    </div>
</div>